<h1>Skills Summary</h1>
<p class="lead">Cyber Security / Network Engineer professional seeking opportunities to use knowledge as a
  <em>positive disruption</em>.</p>

<p>A team player, with experience in security practices, network infrastructure and app development in both localized
  and virtual platforms. A good understanding in cyber security concepts, procedures, and AIC (availability, integrity,
  confidentiality) practices. My main focuses are application, installation, configuration and monitoring of network
  devices and hosts. Other duties include implement of security protocols, automating task, documenting processes,
  onboarding of new employees and providing internal and customer support for service systems.</p>

<p>Various projects have provided experience evaluating and designating resources for BCP, creating network segments,
  storage methodologies, system patches and updates, and incident response within my managed areas. I have also
  recommended hardware and software solutions for project requirements and created system tests within project scopes.
  Many of my projects would require me to be a liaison between departments to assure requirements are met and prevent
  scope creep. Upon completion of the internal and external web application, administrating of sites and training of
  clients fell to me. My background has provided me experience with creating both internal and external application for
  corporate needs, public accessed website that are integrated to existing seasoned ERP system. I created and deployed
  internal Content Management for media creation and consumption. My recent projects have developed using RESTful API
  with MEAN stack.</p>

<p>Though I may not have much experience in the field, I do have a good understanding of cyber security concepts such as
  IDS/IPS, vulnerability assessment, threats and response, phishing, proxies. Other responsibilities include hardening
  corporate systems, implementation of corporate policies & solutions, authentication and authorization of user
  accounts. Certificates, Secure layer/protocols, and onboarding new employees
</p>
