<section class="m-5">
<ul class="list-inline mr-auto">
  <li class="list-inline-item ml-2">
    <button class="btn btn-outline-primary" routerLink="contact">Contact Me</button></li>
   <li class="list-inline-item ml-2">
     <span class="social">
       <a href="https://www.linkedin.com/in/jay-rich/">
         <i class="fab fa-linkedin"></i>
       </a>
     </span>
   </li>
   <li class="list-inline-item ml-2">
     <span class="social">
       <a href="https://www.facebook.com/R.JayRich">
         <i class="fab fa-facebook-square"></i>
       </a>
     </span>
   </li>
   <li class="list-inline-item ml-2">
     <span class="social">
       <a href="https://twitter.com/JayMade">
         <i class="fab fa-twitter-square"></i>
       </a>
     </span>
   </li>
   <li class="list-inline-item ml-2">
     <span class="social">
       <a href="https://www.instagram.com/rjayrich/">
         <i class="fab fa-instagram"></i>
       </a>
     </span>
   </li>
 </ul>
</section>