<section class="text-center mx-auto">
  <button class="btn btn-outline-primary" routerLink="contact">Contact Me</button>
  <ul class="list-inline mr-auto">
    <li class="social list-inline-item ml-2">
      <span class="social">
        <a href="https://www.linkedin.com/in/jay-rich/">
          <i class="fab fa-linkedin"></i>
        </a>
      </span>
    </li>
    <li class="social list-inline-item ml-2">
      <span class="social">
        <a href="https://www.facebook.com/R.JayRich">
          <i class="fab fa-facebook-square"></i>
        </a>
      </span>
    </li>
    <li class="social list-inline-item ml-2">
      <span class="social">
        <a href="https://twitter.com/JayMade">
          <i class="fab fa-twitter-square"></i>
        </a>
      </span>
    </li>
    <li class="social list-inline-item ml-2">
      <span class="social">
        <a href="https://www.instagram.com/rjayrich/">
          <i class="fab fa-instagram"></i>
        </a>
      </span>
    </li>
  </ul>
  <img src="assets/knowSketch.png" class="img-fluid mb-5" alt="I know this stuff!" data-toggle="tooltip" title=""
    data-original-title="I know this stuff!!!" data-placement="top">
</section>

