<section class="container-fluid">
  <h1> About Jay Rich</h1>

  <p class="lead">I was raised in the Carolinas and still call em’ home. However, I do enjoy traveling and sharing my experience with my DSLR.
  </p>
  <p>Creative design has been and interest throughout my life. So naturally, I enrolled in  a design program at   the School of Communication Art in the late in s 
    90’s. From here, I graduated from both the Graphic design and and 3D animation programs. I was able to launch  a career at Newton designing. I created anything from brochures, photo &
    video production, to a massive product catalog development.</p>

  <p> As the digital age continued, my projects expanded into creating web sites, content management and app development. As I delved more into server / client model, I grew more interested in how computers work and
    communicated with each other. I enrolled in school again to learn about network management and cyber security to better
    prepare for the future.</p>

  <p>While enrolled in my classes, one of my instructors recommended that I attend an <a
      href="https://www.issa.org"> ISSA </a> meeting. The ISSA is an association of
    security professionals with a wealth of knowledge, networking opportunities and education events. I joined right away and still eagerly attend.</p>

  <p>For greater detail on what I can do, visit the <a href="skills">skill</a> section of my site.</p>

</section>
