<section class="container-fluid">
  <h1> About Jay Rich</h1>

  <p class="lead">I was raised in the Carolinas and still call em’ home. However, I do like to travel and share my
    photos.
  </p>
  <p>Drawing, painting, and 
    and photography have been and interest throughout my life. So I enrolled at the School of Communication Art in the late
    90’s and naturally spent a of majority my professional career designing. I created anything from brochures, photo &
    video production, to a massive product catalog development.</p>

  <p> With the founding of digital age, my projects expanded into creating web sites, content management and app
    development. As I delved more into server / client model, I grew more interested in how computers work and
    communicated with each other. I enrolled in school again to learn network management and cyber security to better
    prepare for data.</p>

  <p>For greater detail on what I can do, visit the <a href="skills">skill</a> section of my site.</p>

</section>
