<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a routerLink="/">
    <img src="/assets/jayRich.png" alt="Jay Rich">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="mainNav">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active ml-2">
        <span class="social">
          <a href="https://www.linkedin.com/in/jay-rich/">
            <i class="fab fa-linkedin"></i>
          </a>
        </span>
      </li>
      <li class="nav-item active ml-2">
        <span class="social">

          <a href="https://www.facebook.com/R.JayRich">
            <i class="fab fa-facebook-square"></i>
          </a>
        </span>
      </li>
      <li class="nav-item active ml-2">
        <span class="social">

          <a href="https://twitter.com/JayMade?">
            <i class="fab fa-twitter-square"></i>
          </a>
        </span>
      </li>
      <li class="nav-item active ml-2">
        <span class="social">

          <a href="https://www.instagram.com/rjayrich">
            <i class="fab fa-instagram"></i>
          </a>
        </span>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="skills">Skills</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled" routerLink="" id="dropdown01" data-toggle="dropdown">Other Sites</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Art</a>
          <a class="dropdown-item" href="#">Photography</a>
          <a class="dropdown-item" href="#">Media Design</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
