<h1>Hello World!</h1>
<p class="lead">You have found my home on the web</p>
<p data-toggle="tooltip" title="" data-original-title="quoted from Will Sterns, Learn Code Academy"
  data-placement="left" class="tool">I'm <strong class="blue">Jay
    Rich</strong>. Overall, I'm an awesome guy but you don't have to take my word for it. It has been <em>scientifically proven</em> on many levels</p>
<p class="sub">From here, you can find out a little bit more about me and the projects I 've been affiliated with.</p>
<img src="" alt="">
