<section class="stain">
  <div class="container-fluid text-center">
    <h1>Hello World!</h1>
    <p class="lead">You have found my home on the web</p>
    <p class="px-5"> Overall, I'm an awesome guy but you don't have to take my word for it.  It has
      been <em>scientifically proven</em> on many levels.</p> 
    <p class="sub">From here, you can find out a little bit more about me and the projects I 've been affiliated with.
    </p>
    <p class="lead ml-5 text-left">-- <strong class="blue">Jay Rich</strong>.</p>
  </div>

  <div class="text-center pen">
    <img src="assets/me1.jpg" class="img-fluid img-thumbnail rounded-circle" alt="Jay Rich">
  </div>
  
</section>
