<article class="container-fluid row">

  <div class="col-6">
    <h1>Jay Rich's Resume</h1>
  </div>
  <div class="col-6 text-right">
    <a href="assets/dl/jayrich_resume.pdf"><img src="assets/pdfIcon.png" alt="download a hard copy"></a>
  </div>


  <div class="col-12">
    <h3>Objective</h3>
    <p class="lead">Network Security professional with application development background seeking opportunities.</p>
  </div>

  <section class="col-12">
    <h2>Work Experience</h2>
    <p><a href="http://enewton.com"><img src="https://www.enewton.com/img/NewtonLogo_OrangeBlack.png"
          alt="Newton Instrument Company"></a> <span class="date highlite">Nov. 1992 - Currently</span>
    </p>
    <div class="job">
      <span class="date">Jan 2011 - present</span>
      <h4>App Develop/ Marketing / System Admin</h4>
      <p class="clear">Day to day operations include administering internal systems that support sales. Create and
        maintain media
        library
        for app consumption. Work in conjunction with internal teams to promote products that serve the Telco and Data
        markets. </p>
      <ul>
        <li> Provide software and hardware support for Marketing and Sales department.</li>
        <li> Create a media library contain videos, Photos, graphics and other product information for application use.
        </li>
        <li> Full- Stack development applications for departmental use</li>
        <li> Create, secure, and maintain network segments</li>
        <li> Organize and staff events such as trade shows, training seminars webcast</li>
        <li> Allocate existing resources and implement new systems for departmental needs</li>
        <li> Create, maintain user accounts for new and existing employee</li>
        <li> Onboard new employees to corporate systems and equipment.</li>
        <li> Migrate and Administer CRM system</li>
        <li> System Administration for corporate websites and SalesForce CRM</li>
        <li> Provide network support and improvement recommendations</li>
        <li> System integration between department and manufacturing systems.</li>
        <li> Establish Security Policies and Back-up plan for CRM and Web applications.</li>
        <li> Establish and implement authentication and authorization policies</li>
        <li> Testing & benchmarking application and systems</li>
        <li> Configuration of new and existing system for Servers, Laptops and Desktop</li>
        <li> VMware ESXi and Windows Server Installation, configuration and migration</li>
        <li> Software and Firmware updates for existing corporate infrastructure</li>
      </ul>
    </div>
    <div class="job">
      <span class="date"> Nov 2009 - Jan 2011</span>
      <h4>Marketing Communications Designer:</h4>
      <p>Create and maintain marketing tools and materials to support sales. Bring awareness to the company’s
        capabilities
        for contract manufacturing within the industry.</p>
      <ul>
        <li>Allocate existing resources and implement new systems for departmental needs</li>
        <li>Develop a new website application to replace the outdated framed sit</li>
        <li>Develop a better User Experience to the web interface</li>
        <li>Create and maintain media library of marketing materials</li>
        <li>Connect site to internal proprietary systems</li>
        <li>Generate video of manufacturing capabilities</li>
        <li>Set up and secure web server: provide maintenance and update patches</li>
        <li>All previous responsibilities of Graphic Designer</li>
      </ul>
    </div>
    <div class="job">
      <span class="date">Nov 2001 - Nov 2009</span>
      <h4>Graphic Designer:</h4>
      <p>Create marketing materials</p>
    </div>
    <div class="job">
      <span class="date">Jul 1996 - Nov 2001</span>
      <h4>Technical Documentation Specialist:</h4>
      <p>Create product sales sheets</p>
    </div>
    <div class="job">
      <span class="date">Nov. 1992 - July 1996</span>
      <h4>Industrial Painter</h4>
      <p>Various task associated within the finishing department</p>
    </div>
  </section>

  <section class="col-12">
    <h2>Soft Skills</h2>

  </section>

  <section class="col-12">
    <h3>Education</h3>
    <div class="row">
      <div class="col">
        <h4>Information System / Cyber Security</h4>
        <p><strong>A.A.S </strong>  -- Wake Technical Community College Raleigh, NC 
          <span class="date">July 2018</span>
        </p>
      </div>
      <div class="col">
        <h4>Network Management</h4>
        <p><strong> A.A.S</strong> -- Wake Technical Community College Raleigh, NC
          <span class="date">April 2018 </span>
        </p>
      </div>
    </div>
  </section>

  <section class="col-12">
    <h3>Certifications</h3>
    <span class="date"> March 2019</span>
    <h4>CompTIA A+</h4>
    <p>COMPTIA 
    </p>
    <h4>Information Technology: Cisco Network Associate</h4>
    <p> Wake Technical Community College Raleigh, NC 
      <span class="date">July 2018</span>
    </p>
    <span class="date">July 2018</span>
    <h4>Information Technology: Cisco Security</h4>
    <p> Wake Technical Community College Raleigh, NC 
    </p>
    <span class="date">December 2017</span>
    <h4>IT-Linux Security Specialist</h4>
    <p>Wake Technical Community College Raleigh, NC 
    </p>
    <span class="date">December 2017</span>
    <h4>System Security Practitioner</h4>
    <p>Wake Technical Community College Raleigh, NC 
    </p>
  </section>

  <p>References available upon request</p>

</article>
