.job {
    margin: 1rem;
    padding:1rem;
    border-left: .8rem solid orange;
}
.date {
    float: right;
    text-align: right;
    font-style: italic;
    color:gray;
}
.highlite {
    color: rgb(35, 165, 2);
}
h4{color: orange}