<div class="container-fluid ">
  <nav class="text-center">
    <ul class="list-inline ">
      <li class="list-inline-item">
        <a routerLink="summary">Summary</a> |
      </li>
      <li class="list-inline-item">
        <a routerLink="do">What I can Do</a> |
      </li>
      <li class="list-inline-item">
        <a routerLink="resume">My Resume</a> |
      </li>
      <li class="list-inline-item">
        <a routerLink="ed">Bona Fide</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
